@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark body {
  background-color: #111827;
  color: #f3f4f6;
}

body {
  height: 100vh;
  color: #0a0a0a;
  background-color: #feffff;
  transition: background-color 0.3s ease, color 0.3s ease;
  -ms-overflow-style: none;
  scrollbar-width: thin;
  scrollbar-color: #e93d3d #8d9598;
}

/* Custom scrollbar for Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #8d9598;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #e93d3d;
  border-radius: 10px;
}

/* Scrollbar thumb hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #8d9598;
}

.grad-text {
  background: linear-gradient(#8d9598, #e93d3d);
  background-clip: text;
  color: transparent;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
